fastapi
uvicorn
python-multipart
langchain
openai
langchain-openai
langchain-community
langchain-core
PyMuPDF
faiss-cpu
streamlit
requests
pydantic
rich
python-dotenv
PyPDF2
pypdf

langchain-google-genai
google-generativeai